
.rectangle-29 {
    border-radius: 0px 0px 184px 0px;
    width: 368px;
    height: 626px;
    position: absolute;
    left: 972px;
    top: 116px;
  }
  .rectangle-41 {
    background: #d9d9d9;
    width: 1462px;
    height: 557px;
    position: absolute;
    left: 0px;
    top: 2010px;
  }
  .line-24 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 557px;
    height: 0px;
    position: absolute;
    left: 731px;
    top: 2010px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  .rectangle-42 {
    background: #61876e;
    width: 706px;
    height: 557px;
    position: absolute;
    left: 756px;
    top: 2010px;
  }
  .the-ground-breaking-ceremony-for-the-hasang-hydropower-plantwas-held-in-november-2016 {
    color: #ffffff;
    text-align: center;
    font: 400 24px "Amiri Quran Colored", sans-serif;
    position: absolute;
    left: 799px;
    top: 2190px;
    width: 583px;
    height: 114px;
  }
  .rectangle-412 {
    background: #d9d9d9;
    border-radius: 15px;
    width: 1462px;
    height: 557px;
    position: absolute;
    left: 11px;
    top: 2676px;
  }
  .line-242 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 557px;
    height: 0px;
    position: absolute;
    left: 742px;
    top: 2676px;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  .rectangle-422 {
    background: #61876e;
    border-radius: 15px;
    width: 729px;
    height: 557px;
    position: absolute;
    left: -12px;
    top: 2676px;
  }
  .asset-3-3 {
    border-radius: 15px;
    width: 751px;
    height: 501px;
    position: absolute;
    left: 52px;
    top: 2038px;
  }
  .asset-2-1 {
    border-radius: 15px;
    width: 753px;
    height: 462px;
    position: absolute;
    left: 641px;
    top: 2725px;
  }
  .when-the-hasang-hydropowe-br-plant-finally-gets-its-commercial-operation-date-in-january-2020 {
    color: #ffffff;
    text-align: center;
    font: 400 24px "Amiri Quran Colored", sans-serif;
    position: absolute;
    left: 51px;
    top: 2871px;
    width: 588px;
    height: 102px;
  }
  .group-55 {
    position: absolute;
    inset: 0;
  }
  .ellipse-1 {
    background: #ffffff;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    border-width: 1px;
    width: 86px;
    height: 74px;
    position: absolute;
    left: 1349px;
    top: 3296px;
  }
  .ph-arrow-up-thin {
    position: absolute;
    left: 1354px;
    top: 3298px;
    overflow: visible;
  }
  .group-93 {
    position: absolute;
    inset: 0;
  }
  .our-activities {
    color: #000000;
    text-align: left;
    font: 600 40px "Poppins", sans-serif;
    position: absolute;
    left: 616px;
    top: 1850px;
    width: 280px;
    height: 67px;
  }
  .line-29 {
    border-style: solid;
    border-color: #3c6255;
    border-width: 7px 0 0 0;
    width: 244px;
    height: 0px;
    position: absolute;
    left: 635px;
    top: 1937px;
    transform-origin: 0 0;
    transform: rotate(0.237deg) scale(1, 1);
  }
  .group-75 {
    position: absolute;
    inset: 0;
  }
  .group-120 {
    position: absolute;
    inset: 0;
  }
  .rectangle-94 {
    border-radius: 20px;
    width: 566px;
    height: 735px;
    position: absolute;
    left: 873px;
    top: 972px;
  }
  .pt-binsar-natorang-energi-is-a-limited-entity-engaged-in-the-electric-power-industry-through-hydro-power-plants-pt-binsar-natorang-energi-was-established-on-april-25-2008-in-accordance-with-the-decree-of-the-minister-of-law-and-human-rights-number-ahu-21249-ah-01-01-tahun-2008-pt-binsar-natorang-energi-has-developed-a-hydroelectric-power-plant-in-north-sumatra-indonesia-supported-by-lg-international-and-pt-titan-multi-power-by-utilizing-the-water-resources-of-the-kualu-river-pt-binsar-natorang-energi-participates-in-the-water-resources-development-and-conservation-program-to-increase-theutilization-of-the-water-resources-function-for-the-provision-of-national-electrical-energy-the-construction-of-the-hasang-hydropower-plant-pt-binsar-natorang-energi-follows-the-applicable-laws-and-regulations-namely-law-no-32-of-2009-concerning-environmental-protection-and-management-in-terms-of-providing-information-related-to-environmental-protection-and-management-in-a-correct-accurate-open-and-timely-manner-maintaining-the-sustainability-of-environmental-functions-and-complying-with-provisions-on-environmental-quality-standards {
    color: #000000;
    text-align: left;
    font: 400 18px "Amiri Quran Colored", sans-serif;
    position: absolute;
    left: 87px;
    top: 984px;
    width: 757px;
    height: 699px;
  }
  .group-92 {
    width: 346px;
    height: 81.01px;
    position: static;
  }
  .our-background {
    color: #000000;
    text-align: left;
    font: 600 40px "Poppins", sans-serif;
    position: absolute;
    left: 87px;
    top: 891px;
    width: 346px;
  }
  .line-28 {
    border-style: solid;
    border-color: #3c6255;
    border-width: 5px 0 0 0;
    width: 244px;
    height: 0px;
    position: absolute;
    left: 89px;
    top: 971px;
    transform-origin: 0 0;
    transform: rotate(0.237deg) scale(1, 1);
  }
  *{
      font-family: 'Poppins', sans-serif;
      background-color: white;
  }
  
  .btn{
      color: white;
      background-color: #3C6255;
      border-radius: 20px;
  }
  .navbar{
      font-weight: bolder;
  }
  /* footer{
      background-color: #D9D9D9;
  } */
  h2{
      font-weight: bolder;
  }
  
  h4{
      font-weight: bolder;
  }
  .img-1{
      width: 847.021px;
      height: 616.817px;
      border-radius: 70%;
      margin-left: 60%;
  }
  .div-i{
      width: 244.002px;
      height: 7px;
      
  }
  hr{
      border-style: solid;
  }
  .hsn{
      width: 660px;
      height: 394px;
      flex-shrink: 0;
      border-radius: 40%;
  }
  