*{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn{
    color: white;
    background-color: #3C6255;
    border-radius: 20px;
}
.navbar{
    font-weight: bolder;
}
/* footer{
    background-color: #D9D9D9;
} */
h2{
    font-weight: bolder;
}

h4{
    font-weight: bolder;
}
.img-1{
    width: 847.021px;
    height: 616.817px;
    border-radius: 45%;
    margin-left: 45%;
}
.div-i{
    width: 244.002px;
    height: 7px;
    
}
hr{
    border-style: solid;
}