* {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn {
    color: white;
    background-color: #3C6255;
    border-radius: 20px;
}

.navbar {
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
}



.container {
    margin-top: 50px;
}

.center {
    display: block;
    margin-top: 70px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 483.5px;
    width: 95%;
}

.garis {
    size: 20px;
    width: 200px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #3C6255;
    color: #3C6255;
}

.pln {
    margin-top: 0;
}

.img-bot {
    margin-top: 100px;
    border-radius: 20px;
}

.img-top {
    display: block;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

p {
    direction: ltr;
    unicode-bidi: bidi-override;
}

h6 {
    direction: ltr;
    unicode-bidi: bidi-override;
}

h4 {
    direction: ltr;
    unicode-bidi: bidi-override;
}

.img-1 {
    width: 847.021px;
    height: 616.817px;
    transform: rotate(0.492deg);
    flex-shrink: 0;
    border-radius: 50%;
    margin-left: 45%;
}

.hsn {
    width: 600px;
    height: 450px;
    border-radius: 40%;
}

.garis {
    size: 20px;
    width: 200px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #3C6255;
    color: #3C6255;

}

.div-2 {
    margin-top: 50px;
}

.float-end {
    border-radius: 50%;
    width: 700px;
    height: 450px;
}

.card-img-top {
    width: 310px;
    height: 310px;
    color: gainsboro;
    margin-top: 40px;
    border-radius: 20px;

}

.image-head {
    margin-top: 70px;
    width: 1200px;
    height: 600px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    display: block;
    align-items: center;
    margin-left: 0px;

}

.container {
    position: relative;
}
.col-3{
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 600px;
    width: 1200px;
    opacity: 0;
    transition: .5s ease;
    background-color: #4b4b4b93;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    align-items: center;
    margin-left: 11px;

}
.overlay-sub {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320px;
    width: 320px;
    opacity: 0;
    transition: .5s ease;
    background-color: #4b4b4b93;
    border-bottom-right-radius: 100px;
    align-items: center;
    margin-left: 11px;

}

.container:hover .overlay {
    opacity: 1;
}
.col-3:hover .overlay-sub{
    opacity: 1;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #4b4b4b00;
}
.text-sub {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #4b4b4b00;
}