
*{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn{
    color: white;
    background-color: #3C6255;
    border-radius: 20px;
}
.navbar{
    font-weight: bolder;
}
h2{
    font-weight: bolder;
}

h4{
    font-weight: bolder;
}
.container{
    margin-top: 50px;
}

.center {
    display: block;
    margin-top: 70px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height:483.5px;
    width: 95%;
}
.garis{
    size: 20px;
    width: 200px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #3C6255;
    color: #3C6255;
}
.pln{
   margin-top: 0;
}
.img-bot{
    margin-top: 100px;
    border-radius: 20px;
}
.img-top{
    display: block;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
p{
    direction: ltr;
    unicode-bidi: bidi-override;
    }

h6{
        direction: ltr;
        unicode-bidi: bidi-override;
        }

        h4{
    direction: ltr;
    unicode-bidi: bidi-override;
    }
.img-1{
    width: 847.021px;
    height: 616.817px;
    transform: rotate(0.492deg);
    flex-shrink: 0;
    border-radius: 50%;
    margin-left: 45%;
}   
.hsn{
    width: 600px;
    height: 450px;
    border-radius: 40%;
}
.garis{
    size: 20px;
    width: 200px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #3C6255;
    color: #3C6255;
    
}
.card-img-center{
    width: 40px;
    margin-right: 20%;
}
.card3{
    width: 40px;
    height: 40px;
    margin-right: 20%;
}
.card-text{
    width: 40px;
}
.card6{
    width: 40px;
    margin-left: 60%;
}
.card-img-center1{
    width: 40px;
    margin-left: 60%;
}
.card-img-center2{
    width: 40px;
    margin-right: 20%;
}
.card8{
    width: 40px;
    height: 40px;
    margin-right: 20%;
}
.card9{
    width: 40px;
    margin-left: 60%;
}
.card-img-center3{
    width: 40px;
    margin-left: 9%;
}
.card-img-center4{
    width: 40px;
    margin-right: 20%;
}
.card12{
    width: 40px;
    height: 40px;
    margin-right: 20%;
}
.card14{
    width: 40px;
    margin-left: 60%;
}
.card-img-center5{
    width: 40px;
    margin-left: 60%;
}
.col-7{
    margin-left: 16%;
}
.div-2{
    margin-top: 50px;
}
.float-end{
    border-radius: 50%;
    width: 700px;
    height: 450px;
}
