*{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.btn{
    color: white;
    background-color: #3C6255;
    border-radius: 20px;
}
.navbar{
    font-weight: bolder;
}
h2{
    font-weight: bolder;
}

h4{
    font-weight: bolder;
}
.container{
    margin-top: 50px;
}
.ig-head{
 width: 400px;
 height: 433px;
}
.garis{
    size: 10px;
    width: 50px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #ffffff;
    color: #ffffff;
    margin-top: 40px;
    
}
.img2{
    margin-left: 440px;
    margin-top: 50px;
}
.txt{
    background-color: #3C6255;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-left: 550px;
    margin-top: 520px;
    text-align: center;
    font-size: 20px;
}