
.tengah {
  width: 440px;
  height: 550px;
  position: relative;
  top: 90px;  
  align-items: center;
}
.kiri{
  border-radius: 0px 0px 0px 190px;
  width: 350px;
  height: 550px;
  position: relative;
  top: 90px;
  margin-left: 70px;
  align-items: center;
}

.kanan {
  border-radius: 0px 0px 184px 0px;
  width: 368px;
  height: 550px;
  position: relative;
  top: 90px;
  align-items: center;

}

.desktop-1 {
  background: #ffffff;
  width: 1487px;
  height: 881px;
  position: relative;
  overflow: hidden;
}
.group-120 {
  position: absolute;
  inset: 0;
}
.rectangle-94 {
  border-radius: 20px;
  width: 480px;
  height: 480px;
  position: absolute;
  left: 650px;
  top: 117px;
}

.our-activities {
  color: #000000;
  text-align: left;
  font: 600 40px "Poppins", sans-serif;
  position: relative;
  width: 280px;
  left: 10px;
  top: 90px;
  height: 67px;
}
.line-29 {
  border-style: solid;
  border-color: #3c6255;
  border-width: 7px 0 0 0;
  width: 244.33px;
  top: 80px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.237deg) scale(1, 1);
}
.our-activites {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.our-activites .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1225px;
  height: 1331px;
  position: relative;
}

.our-activites .overlap {
  position: absolute;
  width: 1226px;
  height: 462px;
  top: 270px;
  left: -1px;
}

.our-activites .group {
  top: 0;
  position: absolute;
  width: 1226px;
  height: 462px;
  left: 0;
}

.our-activites .overlap-group {
  position: relative;
  height: 462px;
}

.our-activites .rectangle {
  position: absolute;
  width: 562px;
  height: 462px;
  top: 0;
  left: 0;
  background-color: #d9d9d9;
}

.our-activites .line {
  position: absolute;
  width: 3px;
  height: 462px;
  top: 0;
  left: 519px;
  object-fit: cover;
}

.our-activites .frame {
  position: absolute;
  width: 685px;
  height: 462px;
  top: 0;
  left: 541px;
  background-color: #61876e;
}

.our-activites .asset {
  position: absolute;
  width: 646px;
  height: 410px;
  top: 26px;
  left: 33px;
  object-fit: cover;
}

.our-activites .text-wrapper {
  position: absolute;
  width: 468px;
  top: 162px;
  left: 708px;
  font-family: "Amiri Quran Colored-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background-color :#61876e;
  color: white;
}

.our-activites .overlap-2 {
  position: absolute;
  width: 1227px;
  height: 464px;
  top: 835px;
  left: 0;
}

.our-activites .overlap-wrapper {
  top: 1px;
  transform: rotate(-179.91deg);
  position: absolute;
  width: 1226px;
  height: 462px;
  left: 0;
}

.our-activites .line{
  position: absolute;
  width: 4px;
  height: 462px;
  top: 0;
  left: 519px;
  transform: rotate(179.91deg);
  object-fit: cover;
  background-color: black;
}

.our-activites .frame-wrapper {
  position: absolute;
  width: 685px;
  height: 462px;
  top: 0;
  left: 541px;
}

.our-activites .div-wrapper {
  height: 462px;
}

.our-activites .frame-2 {
  position: relative;
  width: 685px;
  height: 462px;
  background-color: #61876e;
}

.our-activites .p {
  position: absolute;
  width: 534px;
  top: 184px;
  left: 144px;
  transform: rotate(179.91deg);
  font-family: "Amiri Quran Colored-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  background-color: #61876e;
  color: white;
}

.our-activites .asset-2 {
  position: absolute;
  width: 652px;
  height: 418px;
  top: 24px;
  left: 540px;
  object-fit: cover;
}
