.login{
    margin-top: 170px;
    
}
.btn{
    color: white;
    background-color: #3C6255;
    border-radius: 20px;
}
.btn1{
    margin-top: 50px;
}
.Password{
    margin-top: 30px;
    border-style: hidden;
}
h1{
    margin-top: 30px;
}