/* Home Css */
.index .container .row .card {
    width: 230px;
    height: 250px;
  }
  
  .index .container .row {
    margin-left: 50px;
  }
  
  .span {
    color: #000000;
    font: 600 40px "Poppins", sans-serif;
  }
  
  .span2 {
    color: #b4cd35;
    font: 600 40px "Poppins", sans-serif;
  }
  
  .garis {
    size: 20px;
    width: 200px;
    border-width: 6px;
    border-radius: 15px;
    background-color: #3C6255;
    color: #3C6255;
  }
  
  .card-img-top {
    max-width: 800px;
    min-width: 350px;
    max-height: 400px;
    min-height: 175px;
    color: gainsboro;
    margin-top: 40px;
    border-radius: 20px;
  
  }
  
  .facility {
    position: relative;
  }
  .ovr1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 430px;
    height: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #3C6255;
    align-items: center;
    margin-top: 230px;
  
  }
    
  .facility:hover .ovr1 {
    opacity: 1;
  }
  
  .ovr {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 430px;
    height: 100px;
    opacity: 0;
    transition: .5s ease;
    background-color: #3C6255;
    align-items: center;
    margin-top: 100px;
  
  }
  
  .facility:hover .ovr {
    opacity: 1;
  }
  
  .capt {
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
    top: 50px;
    width: 397px;
    text-align: center;
    left: 199px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3C6255;
  }
  
  
  iframe {
    width: 500px;
  
    height: 350px;
  
    border-radius: 30px;
  }
  
  .index-end{
    margin-top: -50px;
  }
  
  .index-end .container swiper-container {
    width: 100%;
    height: 120%;
    position: relative;
    align-items: center;
    margin: 20px;
    padding: 40px;
  }
  
  
  .index-end .container swiper-container swiper-slide {
    text-align: center;
    border-radius: 20px;
    width: 100%;
  
    padding: 5px;
    background: #ffffff;
    display: flex;
    justify-content: center;
  
  }
  
  .index-end .container swiper-container swiper-slide swiper-pagination {
    background-color: transparent;
    text-decoration: none;
    padding-top: 130px;
  }
  
  .index-end .container swiper-container swiper-slide .card-body {
    width: 20rem;
  }
  
  @media screen and (max-width: 768px) {
    .index .container .row .card {
      width: 230px;
      height: 250px;
      margin-top: 50px;
    }
  
    .index .container .row {
      margin-left: 55px;
  
    }
  
    .facility {
      position: relative;
      margin-left: 35px;
    }
  
    .ovr {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      width: 310px;
      height: 100px;
      opacity: 0;
      transition: .5s ease;
      background-color: #3C6255;
      align-items: center;
      margin-top: 120px;
  
    }
  
    .facility:hover .ovr {
      opacity: 1;
    }
  
    .capt {
      color: rgb(255, 255, 255);
      font-size: 15px;
      position: absolute;
      top: 50px;
      width: 310px;
      text-align: center;
      left: 155px;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #3C6255;
    }
  
  
    .features .container .row iframe {
  
      max-width: 300px;
      max-height: 150px;
      margin-left: 30px;
      border-radius: 30px;
  
    }
}
.border {
  background: #dbdbdb; 
  width: 100%;
  height: 318px;
  position: relative;
  overflow: hidden;
}
.group1 {
  position: absolute;
  inset: 0;
}
.index1 {
  background: #ffffff;
  border-style: solid;
  border-color: #3c6255;
  border-width: 1px;
  width: 270px;
  height: 142px;
  position: absolute;
  border-radius: 10px;
  left: 40px;
  top: 140px;
}
.group2 {
  position: absolute;
  inset: 0;
}
.index2 {
  background: #ffffff;
  border-style: solid;
  border-color: #3c6255;
  border-width: 1px;
  width: 270px;
  height: 142px;
  border-radius: 10px;
  position: absolute;
  left: 660px;
  top: 140px;
}
.group3 {
  position: absolute;
  inset: 0;
}
.index3 {
  background: #ffffff;
  border-style: solid;
  border-color: #3c6255;
  border-width: 1px;
  width: 270px;
  border-radius: 10px;
  height: 142px;
  position: absolute;
  left: 965px;
  top: 140px;
}
.group4 {
  position: absolute;
  inset: 0;
}
.index4 {
  background: #ffffff;
  border-style: solid;
  border-color: #3c6255;
  border-width: 1px;
  width: 270px;
  border-radius: 10px;
  height: 142px;
  position: absolute;
  left: 350px;
  top: 140px;
}
.icon-1 {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 55px;
  top: 189px;
}
.icon-2 {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 380px;
  top: 184px;
}
.icon-3 {
  width: 70px;
  height: 58px;
  position: absolute;
  left: 659px;
  top: 178px;
}
.icon-4 {
  width: 83px;
  height: 67px;
  position: absolute;
  left: 952px;
  top: 183px;
}
.asset {
  color: #000000;
  text-align: left;
  font: 600 30px/161% "Poppins", sans-serif;
  position: absolute;
  left: 110px;
  top: 160px;
  width: 128.99px;
  height: 29.59px;
}
.hasang-hydroelectric-power-plant {
  color: #373737;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  position: absolute;
  left: 115px;
  top: 204.59px;
  width: 199px;
  height: 34px;
}
.capacity {
  color: #000000;
  text-align: left;
  font: 600 30px/161% "Poppins", sans-serif;
  position: absolute;
  left: 441px;
  top: 169px;
  width: 180px;
  height: 30px;
}
._39-mw {
  color: #373737;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  position: absolute;
  left: 448px;
  top: 213.59px;
  width: 199px;
  height: 34px;
}
.fuel {
  color: #000000;
  text-align: left;
  font: 600 30px/161% "Poppins", sans-serif;
  position: absolute;
  left: 757px;
  top: 171px;
  width: 180px;
  height: 30px;
}
.water {
  color: #373737;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  position: absolute;
  left: 767px;
  top: 215.59px;
  width: 199px;
  height: 34px;
}
.product {
  color: #000000;
  text-align: left;
  font: 600 30px/161% "Poppins", sans-serif;
  position: absolute;
  left: 1035px;
  top: 169px;
  width: 180px;
  height: 30px;
}
.elcetricity {
  color: #373737;
  text-align: left;
  font: 600 16px "Poppins", sans-serif;
  position: absolute;
  left: 1040px;
  top: 212.59px;
  width: 199px;
  height: 34px;
}


  
  
  