<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assetsdash/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assetsdash/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assetsdash/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/assetsdash/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../static/assetsdash/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../static/assetsdash/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assetsdash/vendor/simple-datatables/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Template Main CSS File -->
    <link href="../static/dashcss.css" rel="stylesheet">
    <script src="../static/assetsdash/js/myjs.js"></script>



</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">BinsarAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Fadil Alexander</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Jacob Fadil</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Fadil shelby</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="../static/prof.jpeg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Binsar Natorang</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ session['username'] }}</h6>
                            <span>{{ session['username'] }}</span>
                        </li>


                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="/dashboard">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link" href="/data">
                    <i class="bi bi-clipboard-plus"></i>
                    <span>Data</span>
                </a>
            </li><!-- End Add Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/profile">
                    <i class="bi bi-person"></i>
                    <span>Profile</span>
                </a>
            </li><!-- End Profile Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/contact">
                    <i class="bi bi-envelope"></i>
                    <span>Contact</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/register">
                    <i class="bi bi-card-list"></i>
                    <span>Register</span>
                </a>
            </li><!-- End Register Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                </a>
            </li><!-- End sign out Page Nav -->




        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Binsar</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <div class="row justify-content-end m-2">
            <a href="/add" style="width: 150px">
                <div
                    style="display: flex; background-color: #3C6255; width:150px; border-radius:8px; height:40px; align-items: center;">

                    <div style="color: white; margin-left: 10px;">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6v6m0 0v6m0-6h6m-6 0H6">
                            </path>
                        </svg>
                    </div>
                    <div style="color: white;">
                        + Add New Data
                    </div>

                </div>
            </a>
        </div>
        <div class="tabel mt-4">
            <div class="card border-0 shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded mt-3">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-0 rounded-start">No</th>
                                    <!-- <th class="border-0">Gambar</th> -->
                                    <th class="border-0">Picture</th>
                                    <th class="border-0">Name Of Activities</th>
                                    <th class="border-0">Description</th>
                                    <th class="border-0 rounded-end text-center">Action</th>
                                </tr>
                            </thead>

                            {% for def in data %} {% set title = def.title %} {% set content = def.content %} {% set
                            file = def.file %} {% set _id = def._id %}

                            <tr>
                                <td></td>
                                <td> {% if not file %}
                                    <img src="../static/default-image.jpg" class="card-img-top" alt="..." />
                                    {% else %}
                                    <img src="../static/add/{{file}}" id="image" class="card-img-top" alt="..."
                                        style="width: 200px;" />
                                    {% endif %}
                                </td>
                                <td id="image-title">{{title}}</td>
                                <td id="image-description">{{content}}</td>

                                <td class="text-center">
                                    <a href="/edit?_id={{_id}}">
                                        <img src="https://img.icons8.com/plumpy/26/000000/edit-calendar.png" />
                                    </a>

                                    |
                                    <a href="/delete?_id={{_id}}">
                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                                            viewBox="0 0 172 172" style=" fill:#7d1710;">
                                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
                                                stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
                                                stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                                                font-weight="none" font-size="none" text-anchor="none"
                                                style="mix-blend-mode: normal">
                                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                                <g>
                                                    <g>
                                                        <path
                                                            d="M151.73961,33.19398v0.00336c-0.00037,2.73832 -2.22012,4.95807 -4.95844,4.95844h-121.56234c-2.73832,-0.00037 -4.95807,-2.22012 -4.95844,-4.95844v-0.00336c0.00037,-2.73832 2.22012,-4.95807 4.95844,-4.95844h121.56234c2.73832,0.00037 4.95807,2.22012 4.95844,4.95844z"
                                                            fill="#2ecc71"></path>
                                                        <path
                                                            d="M150.28836,47.87109c1.4176,1.41862 1.84137,3.55135 1.07378,5.40415c-0.76759,1.8528 -2.57545,3.061 -4.58097,3.06147h-121.56234c-2.73847,0 -4.95844,-2.21997 -4.95844,-4.95844c0,-2.73847 2.21997,-4.95844 4.95844,-4.95844h121.56234c1.31548,-0.00163 2.57748,0.52058 3.50719,1.45125z"
                                                            fill="#2ecc71"></path>
                                                        <path
                                                            d="M142.55844,56.33672v0.02016l-14.17656,90.79383c-1.13692,7.96126 -7.95531,13.87474 -15.99734,13.87422h-52.76906c-8.04203,0.00052 -14.86042,-5.91296 -15.99734,-13.87422l-14.17656,-90.79383v-0.02016z"
                                                            fill="#1abc9c"></path>
                                                        <path
                                                            d="M86,149.27047c1.1132,0 2.01563,-0.90243 2.01563,-2.01562v-64.63773c0,-1.1132 -0.90243,-2.01562 -2.01562,-2.01562c-1.1132,0 -2.01562,0.90243 -2.01562,2.01563v64.63773c0,1.1132 0.90243,2.01563 2.01563,2.01563z"
                                                            fill="#000000"></path>
                                                        <path
                                                            d="M103.64881,149.26644c0.04266,0.00269 0.08533,0.00403 0.12766,0.00403c1.06359,-0.00112 1.94328,-0.82846 2.00958,-1.88998l4.04166,-64.63908c0.06939,-1.11107 -0.77506,-2.06801 -1.88612,-2.1374c-1.11107,-0.06939 -2.06801,0.77506 -2.1374,1.88612l-4.04133,64.63773c-0.03366,0.53372 0.14616,1.05895 0.49988,1.46005c0.35372,0.4011 0.85233,0.64519 1.38608,0.67853z"
                                                            fill="#000000"></path>
                                                        <path
                                                            d="M66.21328,147.38048c0.0663,1.06152 0.94599,1.88886 2.00958,1.88998c0.04233,0 0.08499,0 0.12766,-0.00403c1.11094,-0.06945 1.95528,-1.02628 1.88595,-2.13723l-4.04133,-64.63773c-0.03759,-0.72419 -0.4613,-1.37237 -1.10956,-1.69737c-0.64826,-0.325 -1.42113,-0.27673 -2.02391,0.12641c-0.60278,0.40314 -0.94254,1.099 -0.88973,1.82224z"
                                                            fill="#000000"></path>
                                                        <path
                                                            d="M20.28626,56.36091c1.30025,1.32603 3.07547,2.07901 4.93257,2.09222h2.49602l13.90781,88.97809c1.32655,8.91206 8.98257,15.50673 17.99281,15.49848h52.76906c8.98465,0 16.72028,-6.60252 17.98878,-15.47295l13.91352,-89.00362h2.49434c3.8962,0 7.05469,-3.15849 7.05469,-7.05469c0,-3.8962 -3.15849,-7.05469 -7.05469,-7.05469h-121.56234c-2.83186,0.0326 -5.36973,1.75549 -6.44511,4.37543c-1.07538,2.61993 -0.47979,5.62899 1.51254,7.64173zM126.38674,146.86045c-1.03459,6.93075 -6.99469,12.05477 -14.00221,12.03798h-52.76906c-7.01643,0.01414 -12.98029,-5.12277 -14.00591,-12.06385l-13.8161,-88.38146h108.41341zM25.21883,48.375h121.56234c0.78369,0.0084 1.53185,0.32821 2.07945,0.88889c0.55568,0.57761 0.86524,1.3485 0.86336,2.15c0.00326,1.63731 -1.30582,2.97538 -2.94281,3.00798h-121.56234c-0.78753,-0.01589 -1.53658,-0.34354 -2.08281,-0.91106c-0.55499,-0.5727 -0.864,-1.33974 -0.86101,-2.13723c-0.0028,-1.63595 1.3081,-2.97123 2.94382,-2.99858z"
                                                            fill="#000000"></path>
                                                        <path
                                                            d="M18.24477,33.25949c-0.00299,3.86605 3.10824,7.01324 6.97406,7.05469h121.56234c3.8962,0 7.05469,-3.15849 7.05469,-7.05469c0,-3.8962 -3.15849,-7.05469 -7.05469,-7.05469h-35.9218v-10.27129c0,-3.84581 -3.24247,-6.8632 -7.08828,-6.8632h-35.54219c-3.84548,0 -7.08828,3.01739 -7.08828,6.8632v10.26961h-35.9218c-3.86633,0.04182 -6.9776,3.18981 -6.97406,7.05637zM149.72398,33.25949c0.00522,1.64069 -1.30258,2.98432 -2.94281,3.02344h-121.56234c-1.6698,0 -3.02344,-1.35364 -3.02344,-3.02344c0,-1.6698 1.35364,-3.02344 3.02344,-3.02344h121.56234c1.64008,0.03947 2.94767,1.38289 2.94281,3.02344zM65.17188,15.93352c0,-1.62258 1.43445,-2.83195 3.05703,-2.83195h35.54219c1.62258,0 3.05703,1.20937 3.05703,2.83195v10.26961h-41.65625z"
                                                            fill="#000000"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Data</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card border-0 shadow mb-4 ">
                            <div class="card-body mt-4">
                                <div class="table-responsive">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Image</label>
                                        <input type="hidden" id="_id">
                                        <input type="file" class="form-control" id="image" name="image"
                                            style="border-radius: 13px;" required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Image Title</label>
                                        <input type="text" class="form-control" id="image-title" name="image-title"
                                            style="border-radius: 13px;" required />
                                    </div>

                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Image Description</label>
                                        <textarea class="form-control" id="image-description" name="image-description"
                                            style="border-radius: 13px;" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" onclick="save()" id="edit-post-button">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>BinsarAdmin</span></strong>. All Rights Reserved
        </div>

    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="./static/assetsdash/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="./static/assetsdash/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/assetsdash/vendor/chart.js/chart.umd.js"></script>
    <script src="./static/assetsdash/vendor/echarts/echarts.min.js"></script>
    <script src="./static/assetsdash/vendor/quill/quill.min.js"></script>
    <script src="./static/assetsdash/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="./static/assetsdash/vendor/tinymce/tinymce.min.js"></script>
    <script src="./static/assetsdash/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="./static/assetsdash/js/main.js"></script>

</body>

</html>