<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login PT binsar Natorang Energy </title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/login.css">
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">

</head>

<body>
    <form method="POST" action="{{ url_for('login') }}">
    <div class="container animate__animated animate__fadeInUpBig animate__delay-2s">
        <div class="design animate__animated animate__fadeInUpBig animate__delay-2s">
            <div class="pill-1 rotate-45"></div>
            <div class="pill-2 rotate-45"></div>
            <div class="pill-3 rotate-45"></div>
            <div class="pill-4 rotate-45"></div>
        </div>
        <div class="login">
            <h3 class="title">User Login</h3>
            <div class="text-input">
                <i class="ri-user-fill"></i>
                <input type="text" placeholder="Username" id="username" name="username">
            </div>
            <div class="text-input">
                <i class="ri-lock-fill"></i>
                <input type="password" placeholder="Password" id="password" name="password">
            </div>
            <button type="submit" class="login-btn" value="login">LOGIN</button>
            <div class="create">
                <a href="/"><i class="ri-arrow-left-fill"></i>Back</a>
            </div>
        </div>
    </div>
</form>
</body>

<script>
     
</script>

</html>