<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>PT Binsar Natorang Energi</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link rel="shorcut icon" type="x-icon" href="../static/mypicture.jpg">
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  
    <link href="../static/style.css" rel="stylesheet">
  
  
  </head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/" class="logo d-flex align-items-center">
                <img src="../static/assets/Assets/1/asset 0.png" alt="">

            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li class="dropdown nav-link scrollto active"><a href="/"><span>Home</span> <i
                                class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/">Main Asset</a></li>
                            <li><a href="#facility">Facility</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#renew">Renew</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/about">About Us</a></li>
                    <li><a class="nav-link scrollto" href="/social">Social
                            Contribution</a></li>
                    <li><a class="nav-link scrollto" href="/our">Our Partners</a></li>
                    <li><a class="getstarted scrollto" href="/login">Login</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="/">Home</a></li>
                    <li>></li>
                    <li> SCADA - Software Automation</li>
                </ol>
                <h2>SCADA - Software Automation</h2>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row">
                    <div class="col col-sm-1">
                        <hr class="garis">
                    </div>
                    <div class="col">
                        <h3 style="margin-top: 30px; background-color: #3C6255; color: white; font-weight: bolder;" data-aos="fade-up" data-aos-duration="1000">
                            SCADA - Software Automation</h3>
                        <p style="margin-top: 10px; background-color: #3C6255; color: white; font-size: 17px;"data-aos="fade-up" data-aos-duration="1000">
                            Operators control the system use the Scada system
                        </p>
                    </div>
                    <div class="col">
                        <div class="img1">
                            <img src="../static/assets/Assets/1/24hrs3 (2).jpg" alt="" class="img-fluid">
                        </div>
                        <div class="img2">
                            <img src="../static/assets/Assets/1/24hrs3 (3).jpg" alt="" class="img-fluid">
                        </div>
                        <div class="img3">
                            <img src="../static/assets/Assets/1/24hrs3 (1).jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>


            </div>
        </section>
        <!-- End Portfolio Details Section -->
        <section class="bot">
            <div class="container">
                <header class="section-header">
                    <center>
                        <h2 class="fw-bold animate__animated animate__fadeInUpBig animate__delay-3s"
                            style="margin-top: 100px;" data-aos="fade-up" data-aos-duration="1000">
                            Facility</h2>
                        <hr size="10px" width="50%" align="right" class="garis" data-aos="fade-up" data-aos-duration="1000">
                    </center>
                    <h4 data-aos="fade-up" data-aos-duration="1000">At PT Binsar Natorang Energi, we understand that SCADA (Supervisory Control and Data
                        Acquisition) is an important element in modern and efficient energy operations. We have adopted
                        and integrated advanced SCADA technology as one of the main components in managing and
                        monitoring our infrastructure..
                    </h4>
                </header>
                <div class="row justify-content-evenly ">
                    <div class="col-4">
                        <div class="img-1">
                            <img style="border-radius: 20px;" src="../static/assets/Assets/1/scd2.jpg" alt="" class="img-fluid " data-aos="fade-right">
                            <div class="border-5  z-3 position-absolute  rounded-5">
                                <p>Scada Control</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="img-2">
                            <img style="border-radius: 20px;" src="../static/assets/Assets/1/scd1.jpg" alt="" class="img-fluid" data-aos="fade-left">
                            <div class="border-5  z-3 position-absolute  rounded-5">
                                <p>Single Line</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->

    <footer id="footer" class="footer">

        <div class="footer-top" style="margin-top: 240px;">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <h2>PT.Binsar</h2>
                <h2><b style="color: #B4CD35; ">Natorang</b>
                  Energi
                </h2>
                <p>&nbsp;Development of a new business model in an industry essential to the
                  economic development of countries
                  and regions</p>
                <div class="social-links mt-3">
                  <img src="../static/assets/Assets/1/asset 0.png" alt="">
                </div>
              </div>
              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="/about">About us</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="/social">Social Contribution</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="/our">Our Partners</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                  Pacific Century Place, 33FL Sudiman Central Business Distric (SCBD)
                  <br> JI. Jendral Sudiman Kav
                  52-53, Jakarta 12190
                  <br><strong>Phone: </strong>+62 21 5093 9000
                  <br><strong>Fax:</strong> +62 21 5093 9008
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</body>

</html>